extends  includes/bingo-layout

block content
    div(id='container-bingo-create')
        div(id='username-form')
            h2 Please enter a username
            input(id='input-username'
                type='text'
                placeholder='Enter your name'
                value=username
                maxlength=30
                onkeydown='submitOnEnter(event, () => statusWrap(submitUsername))')
            if primaryJoin
                button(
                    id='submit-username'
                    onclick='joinLobby()') Join Lobby
            else
                button(
                    id='submit-username'
                    onclick='indicateStatus(submitUsername, "#submit-username")') Set Username
        div(id='lobby-form')
            if primaryJoin
                button(id='create-lobby' class='inactive' onclick='createLobby()') Create Lobby
            else
                button(id='create-lobby' onclick='createLobby()') Create Lobby
        div(id='changelog')!= changelog
        include includes/bingo-statusbar
